body {
  max-width: 1024px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gray;
}

form {

}

label, input, select {
  float: left;
  margin: 16px
}


p, label, #submitBtn {
  clear: both;
}

#submitBtn {

}

p {
  color: rgb(136, 30, 30);
  font-size: large;
  font-weight: bolder;
  margin-left: 16px;
}

a {
  font-weight: bolder;
  color: blue;
}

a:visited {
  color: blueviolet;
}